@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    background-color: black;
   
}
/*==============foto e Diego Nunes==========*/
#container-box1{
    background-image: url('./imagens/fundoTec.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 40px;
}
#box{
    /*border: 1px #c02020 solid;*/
    margin: auto auto auto auto;
    display: inline-flex;
    height: auto;
    max-width: 900px;
}
#desc_prof{
    height: 90px;
    font-family: 'Roboto',sans-serif;
    margin:  3vw 0 auto auto;
    padding-top: 32px ;
}
#desc_prof h2{
    border-top: clamp(1px, 2px, 4px) #DEcc0B dashed ;
    font-size:clamp(12px, 2.2vw, 36px);
    color:#DEcc0B;    
}
#desc_prof h1,p{
    color: #fff;;
    font-size:clamp(8px, 1.5vw, 28px);
}

#desc_prof h1,h2,p{
    text-align: right;
    margin-bottom: 5px;
    

}#desc_foto{
    width: 29%;
    max-width: 250px;  
    min-width: 80px;
    margin: 3vw auto auto 15px;
}
#desc_foto img{
    width:100%;
}
/*============== redes sociais ==========*/
#redesocial{
    /*border: 1px #c02020 solid;*/
    text-align: center;
    
    margin:50px auto ;
    
}

#rede_insta img, #rede_linke img,#rede_zap img{
    /*border: 1px #44d420 solid;*/
    text-align: center;
    margin: 2vw 30px;
    height: 3vw;
    max-height: 45px;
    min-height: 10px;
    
}
#rede_insta a, #rede_linke a,#rede_zap a{
    text-decoration: none;
}

#rede_insta, #rede_linke,#rede_zap:hover{
    cursor: pointer;
}
div#carouselExampleAutoplaying{
    width: 100%; 
    margin: 0 auto 20px auto; 
    /*top:-150px;*/
}
/*============nome Projeto =================*/
#projeto{
    clear: both; 
    display: inline-flex;
    width:100%;  
}
#projeto img{
    margin: auto; 
    display: inline-flex;
    width:15vw;  max-width: 250px; min-width: 100px;
}
/*===========================GRADUAÇÃO=============*/

#cursos-grid{
    background-color: #fff;
    width: 70%;
    margin: 0 auto 50px auto;
    padding: 20px 0;
    border-radius:7px;
    
}
#cursos-grid h1{
    font-size:clamp(6px, 1.7vw, 28px);

}
#cursos-grid a{
    text-decoration: none;
    color: #333;
    text-transform:uppercase;

}
article#cursos-online img,
article#formacaocursos img{
    display: inline-flex;
    margin: 2vw 30px;

}
article#formacaocursos img{
    width: 25%;
    min-width: 150px;
}
article#formacaocursos,
article#cursos-online{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
    color:#727272;
    margin: 0 0 2vw 0
}
article#cursos-online img{
   height: clamp(50px, 5vw, 3000px);
   min-height: 20px;
}
article#cursos-online p{
    font-size:clamp(6px, 1.5vw, 28px);
    background-color: #ddd;
   text-align: center;
   color:#727272
}
