@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*fec.style.background="#fff"
	fec.style.width="30px"
	fec.style.height="30px"*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(-35deg, #000152,#191DFF);
    /*max-height: 1024px;*/
    min-height:700px;
}
img#fundo{
    position: absolute;
    width: 50%;
    max-width: 500px;
}
article#foto{
    text-align: center;
    margin: auto;
}
article#foto img{
    
    max-width:300px;
   min-width: 100px;
   margin-top: clamp(50px, 2vw, 5vw);

}
article#cabecalho{
    display: block;
    text-align: center;
    max-width: clamp(300px, 800px, 1900px);
    
}
article#cabecalho h1,h2,p{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    
}
article#cabecalho h1{
    color:#fff;
    font-size:clamp(18px, 2vw, 3vw) ;
    margin-bottom:5px;
}
article#cabecalho h2{
    border-top:0.25vw dashed #decc0b;
    width: 100%;
    color:#decc0b;
    font-size:clamp(24px, 40px, 3vw) ;
    text-align: center;
}
article#cabecalho p{
    font-size:clamp(15px, 2vw, 40px) ;
    color:#fff;
    margin-top:20px;
}
article#redeSocial img{
    display: inline-flex;
    width:1.5vw;
    min-width: 30px;
    margin:30px 10px 10px 10px;
}

main article#cabecalho{
    margin: 0 auto;
    width: 60%;
    
}
#trabalhos{
    display: block;
    
 

}
article #git{
    padding-top: 3vw;
    padding-right: 0.7vw;
    display: block;
    text-align: center;
} 
article #git p{
    padding-right: 1vw;
    color:rgb(0, 175, 239);
    font-size:clamp(15px, 2vw, 5vw) 
}
article #git a{
    text-decoration: 0;
}
article #git img{
    min-width: 20px;
    width: 2vw;
    margin: 2vw 0;
}
article #formacao{
    padding-top: 3vw;
    padding-right: 0.7vw;
    display: block;
    text-align: center;
}
 article #formacao p{
    padding-right: 1vw;
    color:rgb(0, 175, 239);
    font-size:clamp(15px, 1.5vw, 2vw)     
}
article #formacao a{
    text-decoration: 0;
}

article#formacao img{
    min-width: 30px;
    width: 2vw;
    margin: 2vw 0;
}
article#formacaocursos img{
    display: inline-flex;
    margin: 2vw 0;
    width: 250px;
    margin: 30px 20px 30px 0;
    
}
article#formacaocursos{
    display: block;
    margin: 2vw 5vw;
    font-family: 'Roboto', sans-serif;
    font-size: 0.6em;
    color:#727272;
}
article#cursos img{
    display: inline-flex;
    margin: 2vw 0;
    height: 80px;
    margin: 30px 30px 30px 0;
    
}
article#cursos{
    display: block;
    margin: 2vw 5vw;
    font-family: 'Roboto', sans-serif;
    font-size: 0.6em;
    color:#727272;
}
/*======================================SOBRE MIM===================*/
article#sobremim{
    background: #000160;
    padding: 15px ;
    border-radius:3%;
    box-shadow:0 0 15px #333;
    width: 60%;
    min-width: 280px;
	
	
    margin:  auto;
    opacity: 0;
    height: 0;
}
article#sobremim h1,h2,p{
    
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    
}
article#sobremim h1{
    text-align: right;
    color:#fff;
    font-size:clamp(18px, 2vw, 3vw) ;
    margin-bottom:5px;
display:none;
}
article#sobremim h2{
    border-top:0.25vw dashed #decc0b;
    width: 100%;
    color:#decc0b;
    font-size:clamp(24px, 40px, 3vw) ;
    text-align: right;
display:none;
}
article#sobremim p{
    font-size:clamp(15px, 2vw, 18px) ;
    color:rgb(0, 175, 239);
    text-align: justify;
    margin-top:  clamp(15px, 2vw, 2vw);
display:none;
}

#botSM{
    background:#000152;
    font-family: 'Roboto', sans-serif;
    width:75%;
    max-width:350px;
    height:30px;	
    padding:7px;
    text-align:center;
    margin:10px auto;
    border-radius:5px;
    color:#fff;
	transition:5s;
}
#botSM:hover{
    cursor:pointer;
}
#fechover{
    cursor:pointer;
}
    